@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', serif;
	
}
body{
	overflow-x: hidden;
	width: 100vw;
}
li {
	list-style: none;
}
html{
	width: 100%;
}
